{% macro render_classifier_form(form) %}
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="alert alert-warning">
        <b>Alert:</b> Due to current infrastructure limitations, you can only enter a maximum of 1,000 sequences.
    </div>
    <div class="form-group">
        <label for="sequences">Please enter your sequences:</label>
        <textarea class="form-control" id="sequences" name="sequences" rows="10" required></textarea>
        <p class="muted">Currently supported types: <label class="btn btn-primary btn-sm">FASTA</label></p>
    </div>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>

{% endmacro %} {% extends "base.html" %} {% block title %}{{id}}{% endblock %} {% block jumbotron %}
<div class="jumbotron heading">
    <div class="container">
        <h1>{{ id }}: {{info["uid"]}}{{info['Name']}}</h1>
    </div>
</div>
{% endblock %} {% block body %}

<div class="card">
    <div class="card-header bg-primary">
        <h1 class="text-white">Model Information</h1>
    </div>
    <div class="card-body">
        <p>Description: {{ info["Description"]}} </p>

        <div class="row">
            <div class="col-sm">
                Max Length: {{ info["Max Length"]}}
            </div>
            <div class="col-sm">
                Ngrams: {{ info["ngrams"]}}
            </div>
            <div class="col-sm">
                Paired: {{ info["Paired"]}}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
          <div class="col-sm">
            Author: {{ info["Author Name"]}}
          </div>
          <div class="col-sm">

          </div>
          <div class="col-sm">
            <button class="btn btn-success btn-sm float-right">Training Data</button>
          </div>
        </div>
    </div>
</div>

{{ render_classifier_form(form) }}


<h2>Testing</h2>

<p>Testing sequences, taken from BioProject 33157</p>

<pre>
  >NR_157016 Bacteria;Proteobacteria;Alphaproteobacteria;Sphingomonadales;Sphingomonadaceae
  GTTTGATCATGGCTCAGAACGAACGCTGGCGGCATGCCTAACACATGCAAGTCGAACGAA
  GTCTTCGGACTTAGTGGCGCACGGGTGCGTAACGCGTGGGAATCTGCCTTAAGGTGCGGA
  ATAACTCAGAGAAATTTGTGCTAATACCGCATAATGTCTTCGGACCAAAGATTTATCGCC
  TTAAGATGAGCCCGCGTAAGATTAGCTAGTTGGTAAGGTAAAAGCTTACCAAGGCGACGA
  TCTTTAGCTGGTCTGAGAGGATGATCAGCCACACTGGGACTGAGACACGGCCCAGACTCC
  TACGGGAGGCAGCAGTGGGGAATATTGGACAATGGGCGAAAGCCTGATCCAGCAATGCCG
  CGTGAGTGATGAAGGCCTTAGGGTTGTAAAGCTCTTTTACCAGGGATGATAATGACAGTA
  CCTGGAGAATAAGCTCCGGCTAACTCCGTGCCAGCAGCCGCGGTAATACGGAGGGAGCTA
  GCGTTGTTCGGAATTACTGGGCGTAAAGCGTACGTAGGCGGTTATTCAAGTCAGAGGTGA
  AAGCCCGGGGCTCAACCCCGGAACTGCCTTTGAAACTAGATGGCTAGAATCTTGGAGAGG
  CGAGTGGAATTCCGAGTGTAGAGGTGAAATTCGTAGATATTCGGAAGAACACCAGTGGCG
  AAGGCGACTCGCTGGACAAGTATTGACGCTGAGGTACGAAAGCGTGGGGAGCAAACAGGA
  TTAGATACCCTGGTAGTCCACGCCGTAAACGATGATAACTAGTTGTTCGGACTCATAGAG
  TTTGAGTGACGCAGCTAACGCATTAAGTTATCCGCCTGGGGAGTACGGTCGCAAGATTAA
  AACTCAAAGGAATTGACGGGGGCCTGCACAAGCGGTGGAGCATGTGGTTTAATTCGAAGC
  AACGCGCAGAACCTTACCAGCGTTTGACATGGTTTAGTTTGGTTTCCAGAGATGGATTCC
  TTCAGTTCGGCTGGCTAACGCACAGGTGCTGCATGGCTGTCGTCAGCTCGTGTCGTGAGA
  TGTTGGGTTAAGTCCCGCAACGAGCGCAACCCTCGTCCTTAGTTGCCATCATTCAGTTGG
  GCACTCTAAGGAAACCGCCGGTGATAAGCCGGAGGAAGGTGGGGATGACGTCAAGTCCTC
  ATGGCCCTTACACGCTGGGCTACACACGTGCTACAATGGCGGTGACAGTGGGCAGCTAGA
  TCGCAAGATCATGCTAATCTCTAAAAACCGTCTCAGTTCGGATTGCTCTCTGCAACTCGA
  GAGCATGAAGGCGGAATCGCTAGTAATCGCGGATCAGCATGCCGCGGTGAATACGTTCCC
  AGGCCTTGTACACACCGCCCGTCACACCATGGGAGTTGGATTCACCCGAAGGTAGTGCGC
  TAACCCGCAAGGGAGGCAGCTAACCACGGTGGGTTCAGCGACTGGGGTGAAGTCCTAACA
  AGGTAACCG
  >NR_119192 Bacteria;Actinobacteria;Corynebacteriales;Mycobacteriaceae
  GGCGGCGTGCTTAACACATGCAAGTCGAACGGAAAGGCCCCTTCGGGGGTGCTCGAGTGG
  CGAACGGGTGAGTAACACGTGGGTGATCTGCCCTGCACTTCGGGATAAGCCTGGGAAACT
  GGGTCTAATACCGGATAGGACCACATGTCGCATGGTGTGTGGTGGAAAGCTTTTGCGGTG
  TGGGATGGGCCCGCGGCCTATCAGCTTGTTGGTGGGGTTATGGCCTACCAAGGCGACGAC
  GGGTAGCCGGCCTGAGAGGGTGTCCGGCCACACTGGGACTGAGATACGGCCCAGACTCCT
  ACGGGAGGCAGCAGTGGGGAATATTGCACAATGGGCGGAAGCCTGATGCAGCGACGCCGC
  GTGGGGGATGACGGCCTTCGGGTTGTAAACCTCTTTCAGTCACGACGAAGCGCAAGTGAC
  GGTAGTGACAGAAGAAGCACCGGCCAACTACGTGCCAGCAGCCGCGGTAATACGTAGGGT
  GCGAGCGTTGTCCGGAATTACTGGGCGTAAAGAGCTCGTAGGTGGTTTGTCGCGTCGTCC
  GTGAAATCCCATGGCTTAACTGTGGGCGTGCGGGCGATACGGGCAGACTGGAGTACTGCA
  GGGGAGACTGGAATTCCTGGTGTAGCGGTGGAATGCGCAGATATCAGGAGGAACACCGGT
  GGCGAAGGCGGGTCTCTGGGCAGTAACTGACGCTGAGGAGCGAAAGCGTGGGGAGCGAAC
  AGGATTAGATACCCTGGTAGTCCACGCCGTAAACGGTGGGTACTAGGTGTGGGTTTCCTT
  CCTTGGGATCCGTGCCGTAGCTAACGCATTAAGTACCCCGCCTGGGGAGTACGGCCGCAA
  GGCTAAAACTCAAAGGAATTGACGGGGGCCCGCACAAGCGGCGGAGCATGTGGATTAATT
  CGATGCAACGCGAAGAACCTTACCTGGGTTTGACATGCACAGGACGCCGGTAGAGATATC
  GGTTCCCTTGTGGCCTGTGTACAGGTGGTGCATGGCTGTCGTCAGCTCGTGTCGTGAGAT
  GTTGGGTTAAGTCCCGCAACGAGCGCAACCCTCGTTCCATGTTGCCAGCGCGTGATGGCG
  GGGACTCATGGGAGACTGCCGGGGTCAACTCGGAGGAAGGTGGGGATGACGTCAAGTCAT
  CATGCCCCTTATGTCCAGGGCTTCACACATGCTACAATGGCCGGTACAAAGGGCTGCGAT
  GCCGTGAGGTGGAGCGAATCCTTTCAAAGCCGGTCTCAGTTCGGATCGGGGTCTGCAACT
  CGACCCCGTGAAGTCGGAGTCGCTAGTAATCGCAGATCAGCAACGCTGCGGTGAATACGT
  TCCCGGGCCTTGTACACACCGCCCGTCACGTCATGAAAGTCGGTAACACCCGAAGCCAGT
  GGCCTAACCCGTAAGGGGGGGAGCTGTCGAAGGTGGGATCGGCGATTGGGACGAAGTCGT
  AACAAGGTAGCCG
  >NR_134029 Bacteria;Firmicutes;Erysipelotrichia;Erysipelotrichales;Erysipelotrichaceae
  TAGTTTGAATCCTGGCTCAGGATGAACGCTGGCGGCATGCCTAATACATGCAAGTCGAAC
  GGACGGAAGGGAAGCTTGCTTTCTGGAAGTCAGTGGCGAACGGGTGAGTAACACGTAGGG
  AACCTGCCCATGTGCCCGGGATAATCTCTGGAAACGGAGACTAAAACCGGATAGGTAAGA
  GGACCGCATGGACCTCTTATTAAAGGAGCTACGGCTCTGAACATGGATGGACCTGCGGTG
  CATTAGCTAGTTGGTGGGGTAACGGCGCACCAAGGCGACGATGCATAGCCGGCCTGAGAG
  GGCGAACGGCCACATTGGGACTGAGACACGGCCCAAACTCCTACGGGAGGCAGCAGTAGG
  GAATTTTCGTCAATGGGGGGAACCCTGAACGAGCAATGCCGCGTGAGTGAAGACGGTTTT
  CGGACTGTAAAGCTCTGTTGTAAGAGAAAAAGGGCAGACATAGGGAATGATGTCTGATTG
  ATGGTATCTTACCAGAAAGTCACGGCTAACTACGTGCCAGCAGCCGCGGTAATACGTAGG
  TGGCGAGCGTTATCCGGAATGATTGGGCGTAAAGGGTGCGTAGGTGGCACGTTAAGTCTG
  GAGTAAAAGGCAGCGGCTCAACCGCTGTTGGCTCCGGAAACTGGCGAGCTGGAGTGCAGA
  AGAGGGCGATGGAACTCCATGTGTAGCGGTAAAATGCGTAGATATATGGAAGAACACCAG
  TGGCGAAGGCGGTCGCCTGGTCTGTAACTGACACTGAAGCACGAAAGCGTGGGGAGCAAA
  TAGGATTAGATACCCTAGTAGTCCACGCCGTAAACGATGAGAACTAAGTGTTGGGGGAAT
  AACTCAGTGCTGCAGTTAACGCAATAAGTTCTCCGCCTGGGGAGTATGCACGCAAGTGTG
  AAACTCAAAGGAATTGACGGGGGCCCGCACAAGCGGTGGAGTATGTGGTTTAATTCGAAG
  CAACGCGAAGAACCTTACCAGGCCTTGACATCCCCGGCGAAGGCATAGAGATATGCCGGA
  GGTTACCCGGGAGACAGGTGGTGCATGGTTGTCGTCAGCTCGTGTCGTGAGATGTTGGGT
  TAAGTCCCGCAACGAGCGCAACCCTTGTGATATGTTACTAACAGTAAGATGAGGACTCAT
  ATCAGACTGCCGGTGACAAACCGGAGGAAGGTGGGGATGACGTCAAATCATCATGCCCCT
  TATGGCCTGGGCTACACACGTACTACAATGGCGGCTACAAAGAGCGGCGAACCCGTGAGG
  GCAAGCGAATCTCGGAAAGGTCGTCTCAGTTCGGATTGAAGTCTGCAACCCGACTTCATG
  AAGTTGGAATCGCTAGTAATCGCGAATCAGCATGTCGCGGTGAATACGTTCTCGGGCCTC
  >NR_134026 Bacteria;Firmicutes;Clostridia;Clostridiales;Ruminococcaceae
  GTTTGATCCTGGCTCAGGATGAACGCTGGCGGCGTGCCTAACACATGCATGCTAATACCG
  CATAACATCTACTTTAGGCATCTAGAGTAGATCAAAGGAGAAATCCGGCAAAAGATGGGC
  TCGCGTCCGATTAGATAGTTGGTAGGGTAAAGGCCTACCAAGTCAACGATCGGTAGCCGG
  ACTGAGAGGTTGAACGGCCACATTGGGACTGAGACACGGCCCAGACTCCTACGGGAGGCA
  GCAGTGGGGAATATTGGGCAATGGGGGAAACCCTGACCCAGCAACGCCGCGTGAAGGAAG
  AAGGTCTTCGGATTGTAAACTTCTTTGATCAGGGACGAAGAAATGACTGTACCTGAAGAA
  CAAGTCACGGCTAACTACGTGCCAGCAGCCGCGGTAATACGTAGGTGGCAAGCGTTATCC
  GGATTTACTGGGTGTAAAGGGCGTGTAGGCGGGTCTGTAAGTCAGATGTGAAATCTCCGG
  GCTTAACTCGGAAGGGTCATCTGAAACTACGGATCTTGAGTACTGGAGAGGATAGTGGAA
  TTCCTAGTGTAGCGGTAAAATGCGTAGATATTAGGAGGAACACCAGTGGCGAAGGCGGCT
  ATCTGGACAGTAACTGACGCTGAGGCGCGAAAGCGTGGGGAGCAAACAGGATTAGATACC
  CTGGTAGTCCACGCCGTAAACGATGAATACTAGGTGTAGGGGGTATCGACTCCCTCTGTG
  CCGCAGCTNACGCAATAAGTATTCCACCTGGGGAGTACNACCGCAAGGTTGAAACTCAAA
  GGAATTGACGGGGGCCCNCACAAGCAGTGGAGTATGTGGTTTAATTCGACGCAACGCGAA
  GAACCTTACCAGGGCTTGACATCCTCTGAACGCTATAGAGATATAGTTTTCCCTTCGGGG
  ACAGAGAGACAGGTGGTGCATGGTTGTCGTCAGCTCGTGTCGTGAGATGTTGGGTTAAGT
  CCCGCAACGAGCGCAACCCCTATTGTCAGTTGCCATCAGGTTAAGCTGGGCACTCTGGCG
  AGACTGCCGTTGACAAAACGGAGGAAGGTGGGGACGACGTCAAATCATCATGCCCCTTAT
  GTCCTGGGCTACACACGTACTACAATGGCAACAACAGAGGGCAGCCAGGTCGCGAGGCCG
  AGCGAATCCCAAAATGTTGTCCCAGTTCAGATTGCAGGCTGCAACTCGCCTGCATGAAGT
  CGGAATTGCTAGTAATGGCAGGTCAGCATACTGCCGTGAATACGTTCCCGGGCCTTGTAC
  ACACCGCCCGTCACACCATGAGAGTTTGTAACACCCGAAGTCAGTAGTTTAACCGTAAGG
  AGAGCGCTGCCGAAGGTGGGACAGATAATTGGGGTGAAGTCGTAACAAGGTAGCCG
  >NR_134023 Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales
  GGCCTAACACATGCAAGTCGAGGGGTAACATGGAAGTAGCAATACAACCGATGACGACCG
  GCGCACGGGTGAGTAACGCGTATGCAACCTACCTACTACAGGGGGATAGCCCGGAGAAAT
  CCGGATTAATACCGCATAATACAGGGATTCCGCATGGAAATATTTGTTAAAGAAATTCGG
  TAGTAGATGGGCATGCGTTCCATTAGCCAGTTGGTGAGGTAACGGCTCACCAAAGCAACG
  ATGGATAGGGGAACTGAGAGGTTTATCCCCCACACTGGTACTGAGACACGGACCAGACTC
  CTACGGGAGGCAGCAGTGAGGAATATTGGTCAATGGACGAGAGTCTGAACCAGCCAAGTC
  GCGTGAAGGATGACTGCCCTACGGGTTGTAAACTTCTTTTGTGCTAGAGTAAAAAAGAGT
  ATGTATACTCTCTTGCAAGTATAGTACGAATAAGCATCGGCTAACTCCGTGCCAGCAGCC
  GCGGTAATACGGAGGATGCGAGCGTTATCCGGATTTATTGGGTTTAAAGGGTGCGTAGGC
  GGGACCTTAAGTCAGCGGTGAAAGTTTGAGGCTCAACCTTAAAATTGCCGTTGAAACTGG
  GATCCTTGAGTGTATTTGAAGTAGGCGGAATTCGTAGTGTAGCGGTGAAATGCATAGATA
  TTACGAAGAACTCCAATTGCGCAGGCAGCTTACTAAACTACAACTGACGCTGAAGCACGA
  AAGCGTGGGTATCAAACAGGATTAGATACCCTGGTAGTCCACGCAGTAAACGATGATTAC
  TAGCTGTTTGTGATATTACAATAAGTGGCTAAGCGAAAGCGATAAGTAATCCACCTGGGG
  AGTACGCCGGCAACGGTGAAACTCAAAGGAATTGACGGGGGCCCGCACAAGCGGAGGAAC
  ATGTGGTTTAATTCGATGATACGCGAGGAACCTTACCCGGGCTTGAAATATACTCGACCG
  GTCTGGAAACAGGCCTTCTAGCAATAGCGAGTATGTAGGTGCTGCATGGTTGTCGTCAGC
  TCGTGCCGTGAGGTGTCGGCTTAAGTGCCATAACGAGCGCAACCCTCATTGTTAGTTACT
  AACAGGTCAAGCTGAGGACTCTGACAAGACTGCCAGCGTAAGCTGTGAGGAAGGTGGGGA
  TGACGTCAAATCAGCACGGCCCTTACGTCCGGGGCGACACACGTGTTACAATGGGGGGTA
  CAACGGGTAGCTACCTGGCGACAGGATGCCAATCTCCAAAGCCCCTCCCAGTTCGGATCG
  AAGTCTGCAACTCGACTTCGTGAAGCTGGATTCGCTAGTAATCGCGCATCAGCCATGGCG
  CGGTGAATACGTTCCCGGGCCTTGTACACACCGCCCGTCAAGCCATGGAAGCCGGGGGTA
  CCTGAAGTACGTAACCGTAAGGAGCGTCCTAGGGTAAAA
  >NR_134022 Bacteria;Firmicutes;Bacilli;Bacillales;Bacillaceae
  TGGAAGTCAGCGGCGGACGGGTGAGTAACACGTGGGTAACCTGCCTGTAAGATTGGGATA
  ACTCCGGGAAACCGGGGCTAATACCGGATAACATCAAGAGCTGCATGGCTTCTGATTGAA
  AGGCGGCTTCGGCTGTCACTTCCAGATGGACCCGCGGCGCATTAGCTAGTTGGTGAGGTA
  ACGGCTCACCAAGGCGACGATGCGTAGCCGACCTGAGAGGGTGATCGGCCACACTGGGAC
  TGAGACACGGCCCAGACTCCTACGGGAGGCAGCAGTAGGGAATCTTCCGCAATGGACGAA
  AGTCTGACGGAGCAACGCCGCGTGAGTGAAGAAGGTTTTCGGATCGTAAAACTCTGTTGT
  CAGGGAAGAACAAGTACGGGAGTAACTGCCCGTACCTTGACGGTACCTGGCCAGAAAGCC
  ACGGCTAACTACGTGCCAGCAGCCGCGGTAATACGTAGGTGGCAAGCGTTGTCCGGAATT
  ATTGGGCGTAAAGCGCGCGCAGGCGGCCTTTTAAGTCTGATGTGAAAGCCCACGGCTCAA
  CCGTGGAGGGTCATTGGAAACTGGAAGGCTTGAGTGCAGAAGAGAAGAGCGGAATTCCAC
  GTGTAGCGGTGAAATGCGTAGAGATGTGGAGGAACACCAGTGGCGAAGGCGGCTCTTTGG
  TCTGTAACTGACGCTGAGGCGCGAAAGCGTGGGGAGCGAACAGGATTAGATACCCTGGTA
  GTCCACGCCGTAAACGATGAGTGCTAAGTGTTGGGGGGTTTCCGCCCCTCAGTGCTGCAG
  CTAACGCATTAAGCACTCCGCCTGGGGAGTACGGCCGCAAGGCTGAAACTCAAAGGAATT
  GACGGGGGCCCGCACAAGCGGTGGAGCATGTGGTTTAATTCGAAGCAACGCGAAGAACCT
  TACCAGGTCTTGACATCCCGCTGACCGGTCTGGAGACAGATCTTCCCCTTCGGGGGCAGC
  GGTGACAGGTGGTGCATGGTTGTCGTCAGCTCGTGTCGTGAGATGTTGGGTTAAGTCCCG
  CAACGAGCGCAACCCTTGATCTTAGTTGCCAGCATTCAGTTGGGCACTCTAAGGTGACTG
  CCGGTGACAAACCGGAGGAAGGTGGGGATGACGTCAAATCATCATGCCCCTTATGACCTG
  GGCTACACACGTGCTACAATGGATGGTACAAAGGGCTGCAAGACCGCGAGGTTTAGCCAA
  TCCCATAAAACCATTCTCAGTTCGGATTGCAGGCTGCAACTCGCCTGCATGAAGCTGGAA
  TCGCTAGTAATCGCGGATCAGCATGCCGCGGTGAATACGTTCCCGGGCCTTGTACACACC
  GCCCGTCACACCACGAGAGTTTGCAACACCCGAAGTCGGTGGGGTAACCCTTACGGGAGC
  CAGCCGCCGAAGGTGGGGCAGATGATTGGGGTGAAGTCGTAACAG
  >NR_134021 Bacteria;Firmicutes;Bacilli;Bacillales;Bacillaceae
  TTGGATGTGGCTCAGGACGAACGCGGCGGCGTGCCTAATACATGCAAGTCGAGCGGATTT
  GATCAGAGCTTGCTCTGGTCAAGTTAGCGGCGGACGGGTGAGTAACACGTGGGCAACCTG
  CCCTGCAGATTGGGATAACTCCGGGAAACCGGGGCTAATACCGAATAATATAGAGRGTTT
  CATGATTTTCTTTTGAAAGGCGGCTTCGGCTGTCACTGCAGGATGGGCCCGCGGCGCATT
  AGCTAGTTGGTGAGGTAACGGCTCACCAAGGCGACGATGCGTAGCCGACCTGAGAGGGTG
  ATCGGCCACACTGGGACTGAGACACGGCCCAGACTCCTACGGGAGGCAGCAGTAGGGAAT
  CTTCCGCAATGGACGAAAGTCTGACGGAGCAACGCCGCGTGAGTGAAGAAGGTTTTCGGA
  TCGTAAAACTCTGTTGTCAGGGAAGAACAAGTATGGGAGTAACTGCCCGTACCTTGACGG
  TACCTGGCCAGAAAGCCACGGCTAACTACGTGCCAGCAGCCGCGGTAATACGTAGGTGGC
  AAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCGCGCAGGCGGCCTTTTAAGTCTGATGT
  GAAAGCCCCCGGCTCAACCGGGGAGGGTCATTGGAAACTGGAAGGCTTGAGTGCAGAAGA
  GAAGAGCGGAATTCCACGTGTAGCGGTGAAATGCGTAGAGATGTGGAGGAACACCAGTGG
  CGAAGGCGGCTCTTTGGTCTGTAACTGACGCTGAGGCGCGAAAGCGTGGGGAGCGAACAG
  GATTAGATACCCTGGTAGTCCACGCCGTAAACGATGAGTGCTAAGTGTTGGGGGGTTTCC
  GCCCCTCAGTGCTGCAGCTAACGCATTAAGCACTCCGCCTGGGGAGTACGGCCGCAAGGC
  TGAAACTCAAAGGAATTGACGGGGGCCCGCACAAGCGGTGGAGCATGTGGTTTAATTCGA
  AGCAACGCGAAGAACCTTACCAGGTCTTGACATCCCGCTGACCGCCCTGGAGACAGGGCT
  TCCCCTTCGGGGGCAGCGGTGACAGGTGGTGCATGGTTGTCGTCAGCTCGTGTCGTGAGA
  TGTTGGGTTAAGTCCCGCAACGAGCGCAACCCTTGATCTTAGTTGCCAGCATTCAGTTGG
  GCACTCTAAGGTGACTGCCGGTGACAAACCGGAGGAAGGTGGGGATGACGTCAAATCATC
  ATGCCCCTTATGACCTGGGCTACACACGTGCTACAATGGATGGTACAAAGGGCTGCAAGA
  CCGCGGAGGTTTAGCCAATCCCATAAAACCATTCTCAGTTCGGATTGCAGGCTGCAACTC
  GCCTGCATGAAGCTGGAATCGCTAGTAATCGCGGATCAGCATGCCGCGGTGAATACGTTC
  CCGGGCCTTGTACACACCGCCCGTCACACCACGAGAGTTTGCAACACCCGAAGTCGGTGT
  GGTACCCTTACTGGATTCCAGCCGCCGAAGGTGGGGCAGATGA
  >NR_134020 Bacteria;Proteobacteria;Gammaproteobacteria;Enterobacterales;Pectobacteriaceae
  CATGCAGTCGAGCGGTAGCACAAGGGAGCTTGCTCCCTGGGTGACGAGCGGCGGACGGGT
  GAGTAATGTCTGGGAAACTGCCTGATGGAGGGGGATAACTACTGGAAACGGTAGCTAATA
  CCGCATAACGTCTTCGGACCAAAGAGGGGGACCTTCGGGCCTCTTGCCATCGGATGTGCC
  CAGATGGGATTAGCTAGTAGGTGGGGTAAAGGCTCACCTAGGCGACGATCCCTAGCTGGT
  CTGAGAGGATGACCAGCCACACTGGAACTGAGACACGGTCCAGACTCCTACGGGAGGCAG
  CAGTGGGGAATATTGCACAATGGGCGCAAGCCTGATGCAGCCATGCCGCGTGTGTGAAGA
  AGGCCTTCGGGTTGTAAAGCACTTTCAGCGGGGAGGAAGGGAACAGGCTTAATACGTCTG
  TTCATTGACGTTACCCGCAGAAGAAGCACCGGCTAACTCCGTGCCAGCAGCCGCGGTAAT
  ACGGAGGGTGCAAGCGTTAATCGGAATGACTGGGCGTAAAGCGCACGCAGGCGGTCTGTT
  AAGTTGGATGTGAAATCCCCGGGCTTAACCTGGGAACTGCATTCAAAACTGACAGGCTAG
  AGTCTCGTAGAGGGGGGTAGAATTCCAGGTGTAGCGGTGAAATGCGTAGAGATCTGGAGG
  AATACCGGTGGCGAAGGCGGCCCCCTGGACGAAGACTGACGCTCAGGTGCGAAAGCGTGG
  GGAGCAAACAGGATTAGATACCCTGGTAGTCCACGCTGTAAACGATGTCGATTTGGAGGT
  TGTGCCCTTGAGGCGTGGCTTCCGGAGCTAACGCGTTAAATCGACCGCCTGGGGAGTACG
  GCCGCAAGGTTAAAACTCAAATGAATTGACGGGGGCCCGCACAAGCGGTGGAGCATGTGG
  TTTAATTCGATGCAACGCGGAGAACCTTACCTACTCTTGACATCCAGCGAACCTTGTAGA
  GATACGAGGGTGCCTTCGGGAACGCTGAGACAGGTGCTGCATGGCTGTCGTCAGCTCGTG
  TTGTGAAATGTTGGGTTAAGTCCCGCAACGAGCGCAACCCTTATCCTCTGTTGCCAGCAC
  TTCGGGTGGGAACTCAGGGGAGACTGCCGGTGATAAACCGGAGGAAGGTGGGGATGACGT
  CAAGTCATCATGGCCCTTACGAGTAGGGCTACACACGTGCTACAATGGCGTATACAAAGA
  GAAGCGACCTCGCGAGAGCAAGCGGACCTCATAAAGTACGTCGTAGTCCGGATTGGAGTC
  TGCAACTCGACTCCATGAAGTCGGAATCGCTAGTAATCGTAGATCAGAATGCTACGGTGA
  ATACGTTCCCGGGCCTTGTACACACCGCCCGTCACACCATGGGAGTGGGTTGCAAAAGAA
  GTAGGTAGCTTAACCTTCGGGAGGGCGCT
</pre>


{% endblock %}
