{% macro render_classifier_form(form) %}
<form action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="sequences">Please enter your sequences:</label>
    <textarea class="form-control" id="sequences" name="sequences" rows="10" required></textarea>
    <p class="muted">Supported types: FASTA</p>
  </div>
  <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>

{% endmacro %}


{% extends "base.html" %}

{% block title %}{{id}}{% endblock %}


{% block jumbotron %}
<div class="jumbotron heading">
  <div class="container">
  <h1>{{ id }}: {{info["uid"]}}{{info['name']}}</h1>
  </div>
</div>
{% endblock %}

{% block body %}

<h2>Description</h2>

<p>{{ info["description"]}}</p>

<div class="row">
  <div class="col-sm">
    Author: {{ info["author name"]}}
  </div>

  <div class="col-sm">
    Max Length: {{ info["max len"]}}
  </div>

  <div class="col-sm">
    Ngrams: {{ info["ngrams"] }}
  </div>
</div>

<br>

{{ render_classifier_form(form) }}

<br>

{% endblock %}
