{% macro render_classifier_form(form) %}

<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p class="alert alert-warning">
        <b>FYI:</b> Due to infrastructure limitations only the first 10,000 sequences will be assigned.
    </p>

    <div class="form-group">

        <label for="sequences">Please enter your sequences:</label>
        <textarea class="form-control" id="sequences" name="sequences" rows="10"></textarea>
        {{ form.sequences_file() }}

    </div>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
          <p class="muted">Currently supported formats: <label class="btn btn-primary btn-sm">FASTA</label></p>
</form>

{% endmacro %}

{% extends "base.html" %}

{% block title %}{{model_id}}{% endblock %}

{% block jumbotron %}
<div class="jumbotron heading">
  <div class="container">
  <h1>{{ model_id }}: {{ info["Name"] }}</h1>
  <p class="float-right"><small>Author: {{ info["Author Name"]}} // {{ info["Institution"] }}</small></p>
  </div>
</div>
{% endblock %}



{% block body %}

<div class="row">
  <div class="col-sm">
    <p><b>Description:</b></p>
    <p>{{ info["Description"]}} </p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p><b>Max Length:</b> {{ info["Max Length"]}}</p>
  </div>
  <div class="col-sm">
    <p><b>Sequencing System:</b> {{ info["Sequencing System"]}}</p>
  </div>
  <div class="col-sm">
    <p><b>Paired:</b> {{ info["Paired"]}}</p>
  </div>
</div>


{{ render_classifier_form(form) }}

{% endblock %}