{% extends "base.html" %}

{% block title %}Classifier{% endblock %}


{% block jumbotron %}
<div class="jumbotron heading">
  <div class="container">
  <h1>Classifiers</h1>
  </div>
</div>
{% endblock %}

{% block body %}

<div class="row">
{% for c in classifiers %}
  <div class="col-md-4 classifier">
      <h1>{{classifiers[c]["Name"]}}</h1>
      <p>{{ classifiers[c]["Description"]}}</p>
      <div class="row">
        <div class="col-md-6">
          <p><b>Tech:</b> {{ classifiers[c]["Sequencing System"]}}</p>
        </div>
        <div class="col-md-6">
          <p><b>Author:</b> {{ classifiers[c]["Author Name"]}}</p>
        </div>
      </div>
      <a href="{{ url_for('classifier', id=c)}}">
        <div class="btn btn-primary full-width">
          Go
        </div>
      </a>
  </div>
{% endfor %}

{% endblock %}
