{% macro render_form_field(field, placeholder="", value=None) %}
    {% set css_class='form-control ' + kwargs.pop('class', '') %}
    <div class="form-group row">
        <label for="example-text-input" class="col-sm-2 col-form-label">{{ field.label }}</label>
        <div class="col-sm-10">
            {% for error in field.errors %}
                <div class="alert alert-warning">
                    <i class="glyphicon glyphicon-alert"></i><b>Alert:</b> {{ error }}
                </div>
            {% endfor %}
            {% if field.type == "StringField" %}
                <input type="string" class="form-control" name="{{ field.name }}" placeholder="{{ placeholder }}" {% if value != None %}value="{{ value }}" {% endif %}>
            {% elif field.type == "SelectField" %}
                {{ field() }}
            {% elif field.type == "TextAreaField" %}
                <textarea class="form-control" name="{{ field.name }}" placeholder="{{ placeholder }}"></textarea>
            {% elif field.type == "IntegerField" %}
                <input type="integer" class="form-control" name="{{ field.name }}">
            {% elif field.type == "RadioField" %}
              {{ field }}
            {% else %}

            {{field}}


            <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
  <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
</div>
              {{ field }}
            {% endif %}
          </div>
    </div>
{% endmacro %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{% endblock %} : DeepSeq2Tax</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
 <link href="{{ url_for('static', filename='css/globs.css') }}" rel="stylesheet">
</head>

<body>



  <nav class="navbar navbar-expand-md">
    <div class="container">
 <a class="navbar-brand" href="{{ url_for('index')}}">DeepSeq2Tax(&alpha;)</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarCollapse">
   <ul class="navbar-nav ml-auto">
     <li class="nav-item">
       <a class="nav-link" href="{{ url_for('index')}}">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{{ url_for('classifiers')}}">Classifiers</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{{ url_for('contribute')}}">Contribute</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{{ url_for('docs')}}">Docs</a>
     </li>
   </ul>
 </div>
</div>
</nav>

{% block jumbotron %}{% endblock %}

<main role="main" class="container">
  {% block body %} {%endblock %}
</main>

<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="{{ url_for('static', filename='images/aber.svg')}}">
            <p>DeepSeq2Tax was developed by researchers from Aberystwyth University</p>
        </div>
      </div>
    </footer>

<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>

</body>


</html>
