{% extends "base.html" %}

{% block title %}Classifier{% endblock %}

{% block body %}

<h1>Classifiers</h1>

<p>Lorem Ipsum</p>

<div class="row">
    <div class="col-sm">
      <p><b>Name:</b></p>

      <p>Name goes here</p>
    </div>
    <div class="col-sm">
      <p><b>Description:</b></p>
      <p>Name goes here</p>
    </div>
    <div class="col-sm">
      <p><b>Date:</b></p>
      <p>Name goes here</p>
    </div>
</div>

<br>

<form>
  <div class="form-group">
      <label for="exampleFormControlTextarea1">FASTA Sequences:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>
</form>


{% endblock %}
