{% extends "base.html" %}

{% block title %}Classifier{% endblock %}

{% block jumbotron %}
<div class="jumbotron heading">
  <div class="container">
  <h1>Contribute</h1>
  </div>
</div>
{% endblock %}

{% block body %}

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere et urna vel viverra. Sed in tellus at orci pretium laoreet vitae sed ligula. Etiam ullamcorper facilisis sollicitudin. Proin vestibulum finibus sem quis maximus. Vivamus finibus volutpat enim ac maximus. Vestibulum euismod elit sit amet dapibus convallis. Vestibulum posuere orci et justo bibendum mollis. Nunc dictum interdum massa, et venenatis ante porta id. In feugiat nulla est, at sollicitudin felis porta vitae. Ut porta gravida arcu, ut aliquet arcu. </p>

<h2>Tutorial</h2>


<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere et urna vel viverra. Sed in tellus at orci pretium laoreet vitae sed ligula. Etiam ullamcorper facilisis sollicitudin. Proin vestibulum finibus sem quis maximus. Vivamus finibus volutpat enim ac maximus. Vestibulum euismod elit sit amet dapibus convallis. Vestibulum posuere orci et justo bibendum mollis. Nunc dictum interdum massa, et venenatis ante porta id. In feugiat nulla est, at sollicitudin felis porta vitae. Ut porta gravida arcu, ut aliquet arcu. </p>

<ol>
  <li>Generate a metadata file using the following tool.</li>

</ol>

<h2>Metadata Generator</h2>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere et urna vel viverra. Sed in tellus at orci pretium laoreet vitae sed ligula. Etiam ullamcorper facilisis sollicitudin. Proin vestibulum finibus sem quis maximus. Vivamus finibus volutpat enim ac maximus. Vestibulum euismod elit sit amet dapibus convallis. Vestibulum posuere orci et justo bibendum mollis. Nunc dictum interdum massa, et venenatis ante porta id. In feugiat nulla est, at sollicitudin felis porta vitae. Ut porta gravida arcu, ut aliquet arcu. </p>


<form action="" method="POST">
  {{ form.hidden_tag() }}

  {{ render_form_field(form.name) }}
  {{ render_form_field(form.description) }}
  {{ render_form_field(form.ngrams) }}
  {{ render_form_field(form.max_length) }}

  {{ render_form_field(form.institution) }}

  {{ render_form_field(form.author_names) }}
  {{ render_form_field(form.email) }}

  {{ form.submit() }}
</form>

{% endblock %}
