{% extends "base.html" %}

{% block title %}Documentation{% endblock %}

{% block jumbotron %}
<div class="jumbotron heading">
  <div class="container">
  <h1>Documentation</h1>
  </div>
</div>


{% endblock %}


{% block body %}

<p>This page contains information about how to interact with DeepSeq2Taxon’s web
  application and web service.</p>


<h2>DeepSeq2Taxon Web Application</h2>

<h2>DeepSeq2Taxon Web Service/API</h2>

<p>DeepSeq2Taxon offers a application programming interface (API) which enables
  power users to infer all publicly available models freely.</p>

<p>To make predictions</p>


<h2>Contact us</h2>

<p>To report issues with the website, service, or to simply ask a question please
  send an email to keo7@aber.ac.uk.</p>

{% endblock %}