{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block jumbotron %}
<div class="jumbotron home">
  <div class="container">
  <h1>DeepSeq2Vec</h1>
  <p>Some sort of tagline here that makes me sound really smart.</p>
  </div>
</div>
<div class="getting-started">
  Get Started
</div>
{% endblock %}

{% block body %}
  <h2>Super Fast Taxonomies</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere
    et urna vel viverra. Sed in tellus at orci pretium laoreet vitae sed ligula.
     Etiam ullamcorper facilisis sollicitudin. Proin vestibulum finibus sem quis
      maximus. Vivamus finibus volutpat enim ac maximus. Vestibulum euismod elit
      sit amet dapibus convallis. Vestibulum posuere orci et justo bibendum mollis.
      Nunc dictum interdum massa, et venenatis ante porta id. In feugiat nulla est,
       at sollicitudin felis porta vitae. Ut porta gravida arcu, ut aliquet arcu.</p>

{% endblock %}
